body {
    color: #555;
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0 auto;
    max-width: 50em;
}

/*#header h1 {
    font-size: 5em;
    line-height: 1em;
}*/

h1,
h2,
strong {
    color: #333;
}

a {
    color: #A3E4D7;
    text-decoration: none;
}

a:hover {
    color: #555;
}

footer p {
    margin-left: 1em;
}