@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  margin: 0 auto;
  max-width: 30em;
  color: #515151;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
  color: lightseagreen;
}

a:hover {
  /*color: lightseagreen;*/
  color: #515151;
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left:0;
}

li {
  line-height: 1.5em;
}

time {

}